
<html>
<head>
<meta charset="UTF-8">
<link rel="icon" href="static/favicon.png">
<title>RoundMe</title>
<script>
</script>
</head>
<body>
  HEY
  <br>
  Bild hochladen und mit runden Ecken zurueckbekommen. Ganz einfach.
  <br>
  <br>
  <form action={{ url_for('upload') }} method=post enctype=multipart/form-data>
    <input type=file name=file>
    <br>
    Groesse der runden Ecken (default=100): 
    <input type=text size=3 name=size value=100>
    <br>
    <br>
    <input type=submit value="Mach Rund!">
  </form>
</body>
</html>
